@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
body {
    font-family: Inter;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(158, 76, 34, 0.752);
    color: #2e2e2e;
    text-align: center;
    padding: 20px 20px;
}

.contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 20px;
    background-color: #ebdacd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: rgba(158, 76, 34, 0.752);
    color: #2e2e2e;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #ebdacd;
    color: #2e2e2e;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
} 