@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
body {
    font-family: Inter;
    margin: 0;
    padding: 0;
    background-color: #ebdacd;
    background-image: linear-gradient(rgba(122, 191, 231, 0.4), rgba(122, 191, 231, 0.4)), url(Abtus.webp);
    color: #2e2e2e;
}

header {
    background-color: rgba(158, 76, 34, 0.752);
    color: #2e2e2e;
    text-align: center;
    padding: 20px 0;
}

.about-container {
    max-width: 1200px;
    margin: 20px auto;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    flex: 1;
    padding: 20px;
    font-size: larger
    ;
}

.about-image img {
    max-width: 100%;
    height: auto;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100vw;
    background-color: rgba(158, 76, 34, 0.752);
    color: #2e2e2e;
    text-align: center;
    padding: 20px 0;
}